<ion-toolbar>
  <ion-title>Connexion</ion-title>
</ion-toolbar>

<ion-content>
 <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Connexion</ion-card-subtitle>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-label position="floating">email</ion-label>
    <ion-input [(ngModel)]="email" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">password</ion-label>
    <ion-input type="password" [(ngModel)]="password" ></ion-input>
  </ion-item>

     <ion-button expand="full"  color="warning" (click)="login()">Login</ion-button>
 </ion-card>

    <ion-label>
        <ion-button (click)="toRegister()">
            Don't have an account ?
        </ion-button>
    </ion-label>
</ion-content>
